*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition: linear .2s;
}

body{
    background-color: #fff;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navigation .links a{
    text-decoration: none;
    font-size: 28px;
    color: #000;
    padding: 12px;
}

.navigation .links a:hover{
    color: #FF0303;
}

.search{
    width: 600px;
    height: 50px;
    position: relative;
    margin-left: 50px;
}

.search input{
    background-color: #F3F2F2;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    outline: none;
    border-radius: 4px;
    border: none;
    font-size: 23px;
}

.search input::placeholder{
    text-align: left;
    font-size: 22px;
}

.search i{
    font-size: 24px;
    position: absolute;
    cursor: pointer;
    transform: translateX(-3rem) translateY(14px);
}

.conta{
    display:none;
}

.navigation p{
    font-size: 28px;
    cursor: pointer;
}

.icons{
    display: flex;
    padding: 10px;
    position: relative;
    right: 4rem;
}

.icons i{
    font-size: 30px;
    color:  #FF0303;
    padding: 7px 13px 7px 13px;
    cursor: pointer;
    transform: translateY(10px);
}

.endereco{
    display: flex; 
    padding: 0 4rem 0 4rem; 
}

.endereco p{
    color: #3e3d3d;  
}

.endereco i{
    font-size: 30px;
    padding: 0 10px 0 10px;
    color: #FF0303;
}

.limit-width{
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.menu{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #000;
}


#cart-container{
    position: fixed;
    right: 0;
    bottom: 12rem;
    border: 1px solid #080808;
    width: 550px;
    background-color: #fff;
    height: 800px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 100px;
    opacity: 0;
}

#close-cart-button{
    position: fixed;
    right: 40rem;
    top: 10rem;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

#cart-container span{
    color: #6A6A6A;
    font-size: 24px;
}

#cart-container i{ 
    font-size: 300px; 
    color: #6A6A6A;
}


.capa-mcdonalds img{
    margin-top: 15rem;
    height: 60%;
    width: 98%;
    text-align: center;
}

.capa-mcdonalds{
    text-align: center;
}

.section-mc-donalds{
    width: 95%;
    margin-top: 2rem;
    margin-left: 2rem;
}

.star-logo{
    display: flex;
    align-items: center;
}

.star-logo h1{
    margin-left: 1.2rem;
    font-weight: normal;
}

.star-logo .fa-star,.star{
    color: #FFB800;
    margin-left: 1.3rem;
    font-size: 23px;
    font-weight: bold;
}

.search-mc-donalds{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.search-mc-donalds .content-search-mc input{
    width: 810px;
    height: 70px;
    border: 1px solid #C9C9C9;
}

.search-mc-donalds .content-search-mc input::placeholder{
    font-size:20px;
    padding-left: 3rem;
}

.content-search-mc .fa-mc{
    position: relative;
    left: -50rem;
    font-size: 20px;
    color: #FF0000;
}

.entrega{
    display: flex;
    align-items: center;
    font-size: 24px;
}

.entrega .fa-chevron-down{
    color: #FF0303;
}

.entrega p,i{
    padding: 8px;
}

.Combos-mec{
    max-width: 90%;
    display: flex;
    background-color: #00000036;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    height: 550px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5rem;
}

.row-combo{
    width: 420px;
    height: 510px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.row-combo p{
    font-size: 20px;
}

.row-combo span{
    color: #0F6C00;
    font-size: 24px;
    margin-top: 3rem;
    font-weight: bold;
}

.ctn-sanduiches{
    width: 90%;
    display: flex;    
    text-align: center;
    justify-content: center;
    gap: 20rem;
    margin-left: 13rem;
    padding-bottom: 10rem;
}


.info-sanduiches{
    width: 770px;
    height: 250px;
    border: 1px solid #A0A0A0;
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.text-sanduiches h2{
    margin-bottom: 20px;
}

.text-sanduiches p{
    font-size: 24px;
}

.text-sanduiches span{
    line-height: 70px;
    font-weight: bold;
    font-size: 24px;
    color: #0F6C00;
}

.sanduiches{
    margin-top: 6rem;
}

.sanduiches h1{
    font-size: 35px;
    margin-bottom: 5rem;
    text-align: center;
}























@media (max-width:1500px){


    .menu{
        display: block;
        position: absolute;
        right: 40px;
    }

    header{
        width: 100vw;
        }

    .conta{
        display: block;
    }

    img{
        width: 100px;
    }

   

    .menu.active .bar:nth-child(2){
        opacity: 0;
    }

    .menu.active .bar:nth-child(1){
        transform: translate(8px) rotate(45deg);
    }
    
    .menu.active .bar:nth-child(3){
        transform: translate(-8px) rotate(-45deg);
    }

    .icons, .endereco{
        display: none;
    }

    .links{
        position: fixed;
        left: -100%;
        top: 100px;
        text-align: right;
        display: flex;
        gap: 0;
        border-radius: 0 0 20px 20px;
        flex-direction: column;
        width: 100%;
        background-color: orange;
    }

    .links a{
        margin: 10px 0;
        font-size: 20px;
        color: #fff;
    }

    .links.active{
        left: 0;
    }

    .category .image-category{
        padding: 1.3rem 5rem 0 5rem;
    }

    .category .image-category h2{
        font-size: 20px;
    }
}




@media (max-width:702px){
  
    .content-highlights{
       
        font-size: 98%;
    }

    .category .image-category img{
        width: 80px;
    }

    .category .image-category{
        margin: -20px -30px -20px -30px;
        display: flex;
        flex-wrap: wrap;
    }

    .category .image-category h2{
        font-size: 15px;
    }

   
    
    .search input::placeholder{
       font-size: 10px;
    }

    .search{
        width: 230px;
        position: relative;
        margin: 0 auto;
        height: 20px;
    }

    .search i{
        font-size: 14px;
    }
}