*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition: linear .2s;
}

body{
    background-color: #fff;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navigation .links a{
    text-decoration: none;
    font-size: 28px;
    color: #000;
    padding: 12px;
}

.navigation .links a:hover{
    color: #FF0303;
}

.search{
    width: 600px;
    height: 50px;
    position: relative;
    margin-left: 50px;
}

.search input{
    background-color: #F3F2F2;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    outline: none;
    border-radius: 4px;
    border: none;
    font-size: 23px;
}

.search input::placeholder{
    text-align: left;
    font-size: 22px;
}

.search i{
    font-size: 24px;
    position: absolute;
    cursor: pointer;
    transform: translateX(-3rem) translateY(14px);
}

.conta{
    display:none;
}

.navigation p{
    font-size: 28px;
    cursor: pointer;
}

.icons{
    display: flex;
    padding: 10px;
    position: relative;
    right: 4rem;
}

.icons i{
    font-size: 30px;
    color:  #FF0303;
    padding: 7px 13px 7px 13px;
    cursor: pointer;
    transform: translateY(10px);
}

.endereco{
    display: flex; 
    padding: 0 4rem 0 4rem; 
}

.endereco p{
    color: #3e3d3d;  
}

.endereco i{
    font-size: 30px;
    padding: 0 10px 0 10px;
    color: #FF0303;
}

.limit-width{
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.category{
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding-top: 10rem;
}

.image-category{
    padding: 1.3rem 9rem 0 9rem;
}

.image-category h2{
    margin-top: 15px;
    font-size: 30px;    
}

.image-category img{
    width: 300px;
}

.image-category img:hover{
    transform: scale(1.05);
}

.menu{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #000;
}


#cart-container{
    position: fixed;
    right: 0;
    top: 10rem;
    border: 1px solid #080808;
    width: 700px;
    background-color: #fff;
    height: 928px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 100px;
    opacity: 0;
}

#close-cart-button{
    position: fixed;
    right: 40rem;
    top: 10rem;
    font-size: 50px;
    font-weight: bold;
}

#cart-container span{
    color: #6A6A6A;
    font-size: 24px;
}

#cart-container i{ 
    font-size: 300px; 
    color: #6A6A6A;
}

.recommend{
    width: 100%;
    
}

.recommend h1{
    font-size: 38px;
    font-weight: 500;
    padding-left: 13rem;
    font-weight: bold;
}

.info-recommend{
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #838383;
    height: 590px;
    width: 1400px; 
    top: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#fechar-description-recommend{
    font-size: 20px;
    position: relative;
    top: -15rem;
    right: -37rem;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    color: #838383;
}


.info-recommend .description-info-recommend{
    width: 36%;
    text-align: left;
    line-height: 45px;
}

.info-recommend .description-info-recommend h3{
    font-size: 30px;
    text-align: center;
}

.info-recommend .description-info-recommend p{
    font-size: 24px;
}

.info-recommend .description-info-recommend .valor{
    color: #459C26;
    font-size: 24px;
}

.comprar .adicionar-quantidade{
    display: flex;
    margin-top: 5rem;
}

.comprar .adicionar-quantidade p {
    padding: 10px;
}

.comprar .adicionar-quantidade .valor-total{
    display: flex;
    margin-left: 7rem;
    background-color: #FF0000;
    border-radius: 13px;
    color: #fff;
    cursor: pointer;
}

.adicionar_quantidade{
    border: 1px solid #848484;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.adicionar-quantidade .adicionar_quantidade span{
    font-size: 46px;
    font-weight: bold;
    padding: 0 30px 0 30px;
    cursor: pointer;
}

.adicionar-quantidade .adicionar_quantidade #adicionar-mais{
color: #FF0000;
}

.adicionar-quantidade .adicionar_quantidade #adicionar-menos{
    color: #FF8C8C;
}

.adicionar-quantidade .adicionar_quantidade p{
    font-size: 40px;
    font-weight: bold;
}

.info-recommend img{
    width: 400px;
    margin-right: 15rem;
    height: 430px;
}


.image-recommend{
    width: 40%;
    cursor: pointer;
    line-height: 35px;
    margin-top: 3rem;
    padding-left: 13rem;
}

.image-recommend p{
    color: #FF0303;
    text-align: center;  
}


.image-recommend img{
    width: 330px;
}

.row{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    text-align: center;
}

.image-recommend:hover{
    transform: scale(1.1);
}

.highlights{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.content-highlights{
    padding: 0 4rem 0 4rem;
    border-radius: 30px;
    border: 1px solid black;
    height: 3rem;
    margin-top: 4rem;
    width: 22rem;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.lojas{
    width: 80%;
    cursor: pointer;
    padding-bottom: 10rem;
}

.content-lojas{
display: flex;
}

.section_Lojas{
    flex-direction: column;
    display: flex;
}

.lojas_esquerda{
 margin: 0 auto;
 display: flex;
 flex-direction: column;
}

.lojas h1{
    font-size: 38px;
    margin: 9rem 0 7rem 18rem;
}

.section-loja img{
    width: 180px;
    height: 160px;
}

.section-loja{
    margin: 0 auto;
    display: flex;
    border-radius: 30px;
    border: 2px solid black;
    width: 640px;
    height: 220px;
    padding-top: 21px;
    margin-bottom: 3rem;
    padding-left: 2rem;
}

.description_loja{
    font-size: 26px;
    display: flex;
    flex-direction: column;
}

.description_loja p{
    font-size: 20px;
}


















/*Responsivo*/

@media (max-width:1500px){


    .menu{
        display: block;
        position: absolute;
        right: 40px;
    }

    header{
        width: 100vw;
        }

    .conta{
        display: block;
    }

    img{
        width: 100px;
    }

   

    .menu.active .bar:nth-child(2){
        opacity: 0;
    }

    .menu.active .bar:nth-child(1){
        transform: translate(8px) rotate(45deg);
    }
    
    .menu.active .bar:nth-child(3){
        transform: translate(-8px) rotate(-45deg);
    }

    .icons, .endereco{
        display: none;
    }

    .links{
        position: fixed;
        left: -100%;
        top: 100px;
        text-align: right;
        display: flex;
        gap: 0;
        border-radius: 0 0 20px 20px;
        flex-direction: column;
        width: 100%;
        background-color: orange;
    }

    .links a{
        margin: 10px 0;
        font-size: 20px;
        color: #fff;
    }

    .links.active{
        left: 0;
    }

    .category .image-category{
        padding: 1.3rem 5rem 0 5rem;
    }

    .category .image-category h2{
        font-size: 20px;
    }
}

@media (max-width: 1060px){
    header{
        width: 100%;
    }

    .image-category img{
        width: 100px;
    }

    .search{
        width: 400px;
    }

}


@media (max-width:702px){
  
    .content-highlights{
       
        font-size: 98%;
    }

    .category .image-category img{
        width: 80px;
    }

    .category .image-category{
        margin: -20px -30px -20px -30px;
        display: flex;
        flex-wrap: wrap;
    }

    .category .image-category h2{
        font-size: 15px;
    }

   
    
    .search input::placeholder{
       font-size: 10px;
    }

    .search{
        width: 230px;
        position: relative;
        margin: 0 auto;
        height: 20px;
    }

    .search i{
        font-size: 14px;
       
    }

    .image-recommend{
        margin: 0 auto;
        text-align: center;
        padding: 0; 
        line-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .image-recommend h3,p{
        padding: 0;
        margin-left: 10px;
    }

    .image-recommend p{
        font-weight: bold;
        font-size: 20px;
        margin-left: 40px;
    }

    .recommend{
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

    .row{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1510px){
    
    .row{
       flex-wrap: wrap;
       display: flex;
    }

    .image-recommend img{
        width: 40%;
        padding: 0;
        margin: 0 auto;
    }

    

}

